{% extends 'base.html.twig' %}

{% block title %}
	Page 1
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
{% endblock %}
{% block body %}
	<div class="card shadow mb-4">
		{% for comment in comments %}
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Commentaire de
					{{comment.email}} Publié le
						{{comment.createdAt|date("d/m/Y H:i") }}</h6>
			</div>
			<div class="card-body">
				<div>
					<p>{{comment.content|raw}}</p>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
